<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<h2>All created events</h2>
<ul>
  <% @user.events.each do |event| %>
    <li><%= event.name %> | <%= link_to 'Show', event_path(event) %></li>
  <% end %>
</ul>

<h2>Upcoming events to attend</h2>
<ul>
  <% @user.upcoming_attended_events.each do |event| %>
    <li>
      <%= event.name %>
      <%= event.date %>
    </li>
  <% end %>
</ul>

<h2>Past attended events</h2>
<ul>
  <% @user.past_attended_events.each do |event| %>
    <li>
      <%= event.name %>
      <%= event.date %>
    </li>
  <% end %>
</ul>


<%= link_to 'Back', root_path%>
